body{
    background:rgb(58,58,58);
    color: white;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    padding: 20px;
    height: 400px;
    background-color: white;
    background-image: url("images/pies4.jpg");
    background-size: 100%;
}
section{
    background: white;
    color: gray;
    margin: 20px;
    display: flex;
    flex-direction: row;
}
section .section1{
  width: 300px;
    height: 200px;

}
footer{
    background: black;
    color: white;
    margin:20px;
}
h1{
    color: goldenrod;
    margin: 20px;
}
ul{
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    list-style-type: none;
}
li{
    margin: auto;
}
li:hover{
    background-color: lightcoral;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.table {
    border: 1px solid #000;
    padding: 1px;
    margin: auto;
    width: 70%;

}

.owner-row{
    border: 1px dot-dash #f00;
    display: inline;
}

.owner-cell{
    display: inline;
    width: 10%;
}
.header-row{
    border: 2px solid #000;
    font: 16px bold;
    width: 100%;
    display: flex;
}

.header-cell{
    background-color: lightgray;
    display: inline;
    width: 10%;
}
.actions-cell{
    display: inline;
    background-color: darkgrey;
    width: 20%;
}

.details-container{
    width: 90%;
    margin: auto;
    border: 1px solid #000;
    display: inline;
}
.details-section{
    width: 50%;
    margin: auto;
    display: inline;
}
.details-param{
    display: inline;
    width: 100%;
}
.details-label{
    display: inline;
    width: 50%;
    font-weight: bold;
}
.detail{
    display: inline;
    width: 50%;
}
.pet-container{
    border: 1px solid #000;
    display: inline;
    width: 100%;
}
.pet-table-cell{
    width: 20%;
    display: inline;
}
.pet-table-header-cell{
    width: 20%;
    display: inline;
    font-weight: bold;
}
.pet-table-header{
    display: inline;
    background-color: lightgray;
    width: 100%;
}
.pet-table-row{
    display: inline;
    width: 100%;

}